//Font Family
$primary-font: "Oxygen", sans-serif;
$font-family-serif: "Roboto Slab", Garamond, ‘Hoefler Text’, serif;

//Typography
$hero-font-size: 24px;
$base-font-size: 20px;
$para-small-font-size: 15px;
$hero-weight: bold;
$hero-color: #ff0000;

//Colours
$bg-primary: #e3e3e3;
$bg-secondary: #242424;

// Not a variable but for a center container like bootstrap
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
