//Main SCSS File

//Importing Abstracts
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

//impoorting Base
@import "base/reset";
@import "base/typography";
@import "base/utilities";

//Importing Components
@import "components/buttons";
@import "components/card";
@import "components/contactform";
@import "components/image";
@import "components/slider";

//Importing Layout
@import "layout/about";
@import "layout/footer";
@import "layout/graphics";
@import "layout/nav";

.background-shape {
    width: 100%;
    height: 300px;
    background-color: rgba(95, 74, 124, 0.26);
    clip-path: polygon(0 0, 0 0, 50% 40%, 100% 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 768px) {
    .background-shape {
        width: 100%;
        height: 150px;
        background-color: rgba(95, 74, 124, 0.26);
        clip-path: polygon(
            0 0,
            0 0,
            50% 40%,
            100% 0,
            100% 0,
            100% 100%,
            0 100%
        );
    }
}
