@import "../abstracts/variables";

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background-color: $bg-secondary;
    text-align: center;

    .footer-text {
        font-size: 1.5rem;
        color: aliceblue;
    }
    .socials {
        display: flex;
        text-align: center;
        justify-content: center;

        svg {
            margin: 0 0.5rem;
        }
    }
}
