@import "../abstracts/variables";

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(202, 202, 202);
    border-radius: $border-radius;
    box-shadow: -10px 10px 30px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, opacity 0.3s;

    &:hover {
        transform: scale(1.1);
        z-index: 1;
        opacity: 1;
    }
    &:not(:hover) {
        opacity: 0.6;
    }
    a {
        text-decoration: none;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            height: 260px;
        }
    }

    img.rounded-t-lg {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.card-content {
    height: 100px;
    padding: 20px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        color: #6abff8;
    }

    h5.card-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    a.card-link {
        display: inline-flex;
        align-items: center;
        padding: 10px 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        background-color: #3498db;
        color: white;
        border-radius: 10px;
        transition: background-color 0.3s;
        flex-shrink: 0;
        width: 100%;

        svg.card-icon {
            width: 14px;
            height: 10px;
            margin-left: 8px;
            fill: currentColor;
        }

        &:hover {
            background-color: #0080c9;
        }
    }
}
