@import "../abstracts/variables";

//Font Family
$primary-font: "Oxygen", sans-serif;
$font-family-serif: "Roboto Slab", Garamond, ‘Hoefler Text’, serif;

.headings {
    font-size: 3rem;
    font-weight: bold;
    color: var(--clr-heading);
    text-align: center;
    padding: 3rem 0;
}
.headings-solo {
    font-size: 3rem;
    font-weight: bold;
    color: var(--li-pink);
    text-align: center;
    padding: 3rem 0;
}

.section-headings {
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 3rem 0;
}

.section-headings-bg-2 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding: 3rem 0;
}

.text-standard {
    max-width: 75ch;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.6;
    padding: 0 1rem;
}

.text-centered {
    max-width: 75ch;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
    padding: 0 1rem;
}

.contact-header {
    font-size: 2rem;
    color: #f1d2ff;
    font-weight: bold;
    text-align: left;
}
.contact-text {
    font-size: 1.5rem;
    color: #f1d2ff;
    text-align: left;
    font-weight: bold;
}

.about-text {
    // max-width: 75ch;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2;
    padding: 0 1rem;
}

.highlight-text {
    color: #8099ff;
    font-weight: 700;
}
