//Typography
$hero-font-size: 24px;
$base-font-size: 20px;
$para-small-font-size: 15px;
$hero-weight: bold;

// Colors
$bg-primary: #1f2937;
$bg-secondary: #242424;
$accent-color: #e74c3c;
$text-color: #f1d2ff;
$link-color: #0066cc;

// Breakpoints
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

// Border radius
$border-radius: 1em;
