:root {
    --clr-light: #1f2937;
    --clr-dark: #ebebeb;
    --clr-primary: #dbdbdb;
    --clr-secondary: #242424;
    --clr-accent: #f1d2ff;
    --clr-heading: #f1d2ff;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);

    --nav: var(--clr-secondary);
    --li-pink: var(--clr-accent);
    --headings: var(--clr-heading);
}

.darkmode {
    --clr-light: #1f2937;
    --clr-dark: #cccccc;
    --clr-primary: #242424;
    --clr-secondary: #242424;
    --clr-heading: #1f5ea5;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);

    --nav: var(--clr-primary);
    --li-pink: var(--clr-accent);
    --headings: var(--clr-heading);

    .img-hero {
        opacity: 0.8;
    }

    .background-shape {
        width: 100%;
        height: 300px;
        background-color: rgba(20, 7, 92, 0.185);
        clip-path: polygon(
            0 0,
            0 0,
            50% 40%,
            100% 0,
            100% 0,
            100% 100%,
            0 100%
        );
    }

    .contact-box {
        background-color: #1f2937;
    }
    .li-container {
        box-shadow: 0 30px 50px #252525;
        // box-shadow: 1em 1em 3em 0.6em rgba(0, 0, 0, 0.705);
    }

    .scroll-to-top-btn svg {
        fill: #1f5ea5;
    }
}

//Typography
$hero-font-size: 24px;
$base-font-size: 20px;
$para-small-font-size: 15px;
$hero-weight: bold;

// Colors
$bg-primary: #1f2937;
$bg-secondary: #242424;
$accent-color: #e74c3c;
$text-color: #f1d2ff;
$link-color: #0066cc;

// Breakpoints
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

// Border radius
$border-radius: 1em;
